<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace="org.hello.mapper.commentMapper">

 <!-- 댓글 추가하기 -->
    <insert id="insertComment" parameterType="org.hello.domain.CommentVO" >
      insert into comment (b_no,comment,b_writer,c_date) values(#{b_no},#{comment},#{b_writer},SYSDATE()) 
     
    </insert>
    
  
       
 
  
     <!--댓글 보기 -->
    
    <select id="listComment" parameterType="int" resultType="org.hello.domain.CommentVO">
    <![CDATA[
    
        select * from comment where b_no=#{b_no}
       

    ]]>
    </select>
    
       <!--댓글 수정 -->
    <update id="updateComment" parameterType="org.hello.domain.CommentVO">
        UPDATE comment
            SET
            comment = #{comment}
        where c_no = #{c_no}
    </update>
    
    
       <!--댓글 삭제-->
    <delete id="deleteComment" parameterType="int">
       delete from comment WHERE c_no = #{c_no}
    </delete>


    

</mapper>